a {
    text-decoration: none;
}

.colored {
    display: inline-block;
    background: linear-gradient(to bottom right, #3C1AFB, #311F71);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes slide_up {
    0% {
        opacity: 0;
        margin-top: 200px;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide_right {
    0% {
        opacity: 0;
        margin-right: 200px;
    }

    100% {
        opacity: 100%;
    }
}

.e_slideup {
    animation: 1s ease-in 1s 1 slide_up;
}

.e_slideright {
    animation: 1s ease-in 1s 1 slide_right;
}